/* Navbar */
.nav1 {
    background-color: #3d0695;
    background: linear-gradient(to bottom right, #3a0dec, #f0f2f48b);
    opacity: 0.8;
}
.navbar-default {
    background-color: #fff;
    border-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    color: #d52323;
    padding: 15px 0;
}

.navbar-default .navbar-nav>li>a {
    color: #f4e912;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0088cc;
}

.jumbotron {
    background-image: url('header1.png');
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    padding: 200px 0;
    margin-bottom: 0;
    opacity: 0.9;
    color: #f5c518;
   
}

.jumbotron h1 {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 50px;
}

.jumbotron p {
    font-size: 24px;
    margin-bottom: 50px;
}

.jumbotron a.btn-primary {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 50px;
    background-color: #0088cc;
    border-color: #0088cc;
}

.jumbotron a.btn-primary:hover {
    background-color: #006699;
    border-color: #006699;
}
.primary{
background-color: #040e19;
    border-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
}

primary:hover {
    background-color: #19dd16;
    border-color: #0062cc;
    color: #fff;
}

/* Cards */
.container{
    margin-top: 40px;
}
.card {
    border: none;
    margin-bottom: 30px;
    margin-left: 32px;
}

.card img {
    border-radius: 6px 6px 0 0;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card-text {
    font-size: 18px;
    margin-bottom: 0;
}

footer {
    background-color: #323232;
    color: #fff;
    font-size: 14px;
    padding: 50px 0;
}

footer h5 {
    color: #f5c518;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

footer ul li a:hover {
    color: #f5c518;
}

footer .footer-social {
    margin-bottom: 20px;
}

footer .footer-social a {
    background-color: #f5c518;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
    transition: all 0.3s ease;
}

footer .footer-social a:hover {
    background-color: #444;
}

footer p {
    margin-top: 20px;
}

#our-impact {
    background-color: #f8f0f0;
    padding: 60px 0;
}

#our-impact h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

#our-impact p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

#our-impact ul {
    margin-left: 20px;
    margin-bottom: 40px;
}

#our-impact li {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

#our-impact img {
    width: 100%;
    height: auto;
}

#service{
    margin-left: 40px;
    text-decoration: solid;
    color: #280344;
    size: 100px;
}
